.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out
}
body {
  display: block;
  background-color: #1e272e;
  position: relative;
  margin-top: 5%;
	margin: 0 auto;
	width: 100%;
	align-content: center;
}

#wrapper {
	margin-left: 30%;
}

#title {
  display: inline-block;
  font-size: 28px;
  color: #2f3542;
  border: 3px black invisible;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
  background-color: #70a1ff;
  text-align: center;
}

#instructions {
  display: inline-block;
  font-size: 15px;
  border: 2px gray invisible;
  padding: 5px;
  margin-bottom: 15px;
  border-radius: 5px;
  width: 50%;
  color: #2f3542;
  background-color: #f1f2f6;
}

#how {
  margin-left: 2%;
}

#main {
  border: 3px black invisible;
  border-radius: 5px;
  background-color: #dfe4ea;
  justify-content: center;
  align-items: center;
  width: 50%;
  padding: 5px;
}

#password-length {
    width: 2em;
}

#random-password:before {
    content: "Random password: "
}

#random-password {
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

@keyframes octocat-wave {
	0%, 100% {
		transform:rotate(0)
	}
	20%, 60% {
		transform:rotate(-25deg)
	}
	40%, 80% {
		transform:rotate(10deg)
	}
}

@media only screen and (max-width: 768px) {
	body {
		max-width: 768px;
	}
	#wrapper {
		margin-left: 5%;
		margin-right: 5%;
		width: 150%;
	}
}
